* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/back2.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.85;
    width: 100%;
}

.navigation {
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
}

#logo {
    height: 60px;
    max-width: 100%;
}

.list-nav {
    list-style: none;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-top: 1em;
}

.list-nav li {
    text-align: center;
    padding: 10px 10px;
    font-size: 26px;
    font-weight: 550;
    font-family:'Segoe UI', Tahoma;
    display: inline;
    width: 20%;
}

.welcome {
    margin: 3% 20%;
    font-size: 20px;
    background-color: rgb(247, 222, 181);
    padding: 2% 3%;
    text-align: center;
    color: black;
    font-family: Times New Roman, serif;
    border-radius: 5px;
    font-weight: 500;
}

.outer-box {
    justify-content: center;
    background-color: rgb(223, 215, 211);
    margin: 2em 3em 2em 3em;
    border-radius: 3px;
}

.outer-projects {
    justify-content: center;
    background-color: rgb(235, 222, 199);
    margin: 30px 40px 30px 40px;
    border-radius: 3px;
}

.inner-border {
    margin: 1em ;
    padding: 2em .3em 2em .3em;
    color: black;
    justify-content: center;
}

.inner-projects {
    margin: 30px 5px 0px 5px;
    padding-top: 20px;
    padding-right: 30px;
    color: black;
    justify-content: center;
}

.icons {
    height: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

#profile {
    height: 50%;
    width: 64%;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 1em;
    margin-bottom: 1em
}

#coffee-id, #tea-id {
    height: auto;
    width: 80%;
    max-width: 400px;
    border-radius: 4px;
    margin-bottom: 30px;
}

#welcome-delete, #language-delete, #buttons {
    margin-bottom: 70px;
}
#spacing {
    margin-left: 6%;
}

#homepage-screenshot {
    height: auto;
    width: 100%;
    border: 6px solid black;
    border-radius: 4px;
    max-width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gallery {
    margin-left: 10px;
    margin-right: 10px;
    color:black;
}

#homepage-app, #chess-app, #pokemon-app, #movie-recommender, #bible-nlp, #visualizations {
    text-align: center;
    display: block;
    padding-bottom: 20px;
    padding-top: 10px;
    color:black;
}

#homepage-app-description, #chess-app-description, #pokemon-app-description, #movie-recommender-description, #bible-nlp-description, #visualizations-description {
    margin-top: 10px;
}

#jeremy-steele {
    text-align: center;
    border-right-style: solid;
}

#skills-languages {
    text-align: center;
    margin-top: 1em;
}

.fa {
    padding-left: .28em;
    padding-right: .28em;
    padding-bottom: 1em

}

#big-time {
    display: inline-block;
    
}
#super-h1 {
    padding-bottom: 12px;
}

.skill-list {
    list-style-type: none;
    line-height: 1.8;
    text-align: center;
}

.paragraph {
    background-color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3% 3%;
    text-indent: 3em;
    color: black;
    margin-bottom: 20px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 20px 20px;
    text-align: center;
    border-radius: 3px;
}


